body{
background-color:white;	
font-family: 'Baumans', cursive;
width:100%;
}

.container{
width:1470px;
height:2785px;
background-color:white;	
margin:0px auto;
}

.header{
width:1470px;
height:20px;
background-color:white;	
font-family: 'Roboto', sans-serif;
}
.ha{
width:1070px;
margin:0px auto;
height:20px;
background-color:inherit;
}
.ha ul li{
display:inline;
float:right;
font-size:15px;
margin-left:10px;
}
.ha ul li:hover{
cursor:pointer;
color:purple;
transition:0.4s;
}

.navigation{
width:1470px;
height:140px;
background-color:white;
font-family: 'Baumans', cursive;
}
.na{
width:1070px;
margin:0px auto;
height:140px;
}
.na1{
height:140px;
width:500px;
float:left;
}
.na1 ul{
list-style:none;
margin-left:-80px;
margin-top:55px;
}
.na1 ul li{
display:inline;
margin:40px;
font-size:24px;
}
.na2{
height:140px;
width:70px;
background-color:yellow;
float:left;
margin-left:-20px;
}
.na3{
height:140px;
width:500px;
float:left;
}
.na3 ul{
list-style:none;
direction:rtl;
margin-right:-100px;
margin-top:55px;
}
.na3 ul li{
display:inline;
margin:40px;
font-size:24px;
}
.na li:hover{
cursor:pointer;
color:purple;
transition:0.2s;
}

.pictures{
width:1470px;
height:540px;
background-image:url(../images/pictures.jpg);	
}
.slider{
height:500px;
width:500px;
background-color:black;
margin-left:450px;
overflow:hidden;
}
.sliderbox{
position:relative;
height:500px;
width:5000px;
animation-name:urkis;
animation-duration:20s;
animation-iteration-count:infinite;
}
.sliderbox img{
float:left;
}
@keyframes urkis{
0%{left:0px;}
9%{left:0px;}
10%{left:-500px;}
19%{left:-500px;}
20%{left:-1000px;}
29%{left:-1000px;}
30%{left:-1500px;}
39%{left:-1500px;}
40%{left:-2000px;}
49%{left:-2000px;}
50%{left:-2500px;}
59%{left:-2500px;}
60%{left:-3000px;}
69%{left:-3000px;}
70%{left:-3500px;}
79%{left:-3500px;}
80%{left:-4000px;}
89%{left:-4000px;}
90%{left:-4500px;}
100%{left:-4500px;}
}

.services{
width:1470px;
height:400px;
background-image: url(../images/polka.jpg);
}
.servicesheader{
width:1470px;
height:120px;
background-color:inherit;
font-size:10px;
}
.sha{
width:1070px;
height:70px;
background-color:inherit;
color:white;
margin:0px auto;
font-size:65px;
}
.servicesbody{
width:1470px;
height:280px;
background-color:white;	
}
.sa{
width:1170px;
height:230px;
margin:0px auto;
background-color:inherit;
}
.one{
height:230px;
width:25%;
background-color:inherit;	
font-size:15px;
float:left;
}
.arrow{
width:80px;
height:80px;
margin-left:660px;
position:absolute;
margin-top:-50px;
background-image:url(../images/polka.jpg);
transform:rotate(45deg);
}
.two{
height:230px;
width:25%;
background-color:inherit;	
font-size:15px;
float:left	
}
.three{
height:230px;
width:25%;
background-color:inherit;	
font-size:15px;
float:left		
}
.four{
height:230px;
width:25%;
background-color:inherit;	
font-size:15px;
float:left		
}
.buttona{
color:white;
background-color:#4d265a;
width:70px;
font-family: 'Roboto', sans-serif;
font-size:14px;
padding:5px;
}
.buttona:hover{
cursor:pointer;
transition:0.4s;	
box-shadow:2px 2px 2px black;
}

.intro{
width:1470px;
height:480px;
background-image: url(../images/intro.jpg) ;	
}
.ia{
width:450px;
height:480px;
background-color:yellow;
margin-left:310px;
margin-top:50px;
padding-left:50px;
padding-right:50px;
color:black;
font-size:20px;
}

.contact{
width:1470px;
height:90px;
background-color:green;	
color:white;
}
.ca{
width:50%;
height:90px;
background-color:#4d265a;
float:left;	
}
.catext{
width:545px;
height:90px;
float:right;
font-size:35px;
}
.cb{
width:50%;
height:90px;
background-color:purple;
float:right;	
}
.cbtext{
width:545px;
height:90px;
float:right;
font-size:55px;
margin:15px;
}

.happyclients{
width:1470px;
height:535px;
background-color:white;	
}
.happyclientscontent{
width:1070px;
height:535px;
margin:0px auto;
}
.hca{
width:535px;
height:535px;
float:left;	
}
.hca1{
width:535px;
height:35%;
}
.hca1a{
width:50%;
height:100%;
float:left;	
font-size:130px;
}
.hca1b{
width:50%;
height:100%;
float:left;
font-size:70px;		
}
.hca2{
height:300px;
width:535px;
overflow:auto;
background-color:yellow;
color:black;
border:2px;
border-color:black;
}
.hca3{
width:535px;
height:10%;
font-size:22px;
direction:rtl;
margin:5px;
}
.hcb{
width:535px;
height:535px;
background-color:white;	
float:right;
}
.hcb1{
height:235px;
width:235px;	
margin:15px;
float:left;
border-radius:50%;
}
.hcb2{
height:235px;
width:235px;	
margin:15px;
float:right;
border-radius:50%;			
}
.hcb3{
height:235px;
width:235px;	
margin:15px;
float:left;
border-radius:50%;
}
.hcb4{
height:235px;
width:235px;	
margin:15px;
float:right;
border-radius:50%;		
}

.logo{
width:1470px;
height:130px;
background-color:#ebebeb;	
}
.la{
width:1070px;
height:130px;
margin:0px auto;
background-color:inherit;	
}

.border{
width:1470px;
height:65px;
background-image:url(../images/border.jpg);	
}

.ending{
width:1470px;
height:350px;
background-color:#363636;	
}
.ea{
width:1070px;
height:350px;
margin:0px auto;
color:white;
font-family: 'Roboto', sans-serif;
}
.ea1{
width:22%;
height:350px;
float:left;
}
.ea1 ul{
list-style:none;
margin-left:-25px;
}
.ea1 ul li{
display:inline;
}
.ea1 ul li:hover{
cursor:pointer;
transition:0.3s;
}
.ea2{
width:22%;
height:350px;
float:left;
}
.ea2 ul{
list-style:none;
margin-left:-35px;
}
.ea2 ul li:hover{
cursor:pointer;
color:yellow;
transition:0.3s;	
}
.ea3{
width:18%;
height:350px;
float:left;
margin-left:40px;
}
.ea3 ul{
list-style:none;
margin-left:-30px;
}
.ea3 ul li{
display:inline;
}
.ea3 ul li:hover{
cursor:pointer;
transition:0.3s;
}
.ea4{
width:34%;
height:350px;
float:right;
font-size:40px;
font-family: 'Baumans', cursive;
}
.ea4a{
background-color:white;
height:150px;
width:150px;
border-radius:50%;
margin:0px auto;
}
.ea4a img{
margin-left:45px;
margin-top:25px;
}
.ea4b{
margin-left:75px;
}

.footer{
width:1470px;
height:60px;
background-color:black;	
}
.fa{
width:1070px;
height:60px;
margin:0px auto;
color:white;
font-family: 'Roboto', sans-serif;
}
.fa1{
height:60px;
width:50%;
float:left;
}
.fa ul li{
display:inline;
margin:5px;
}
.fa ul li:hover{
cursor:pointer;
color:yellow;
transition:0.3s;
}
.fa2{
height:60px;
width:50%;
float:right;
direction:rtl;
}